{
    "branches": [
        "main"
    ],
     "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "../updateVersion.sh '${nextRelease.version}' 'Bulwark.Auth/Bulwark.Auth.Guard.csproj'"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "Bulwark.Auth/Bulwark.Auth.Guard.csproj"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
     ]
}
